body {
    background-color: rgb(253, 251, 251);
    font-family: monospace;
    font-size: 12px;
    line-height: 20px;
}

img {
    border: solid 2px black;
    border-radius: 10%;
    position: absolute;
    top: 50px;
    display: block;
}

h1 {
    text-align: center;
    color: #001;
}

#ajust{
    height: 250px;
    width: 170px;
}


 .lado_esquerdo, .lado_direito{
    background-color: greenyellow;
    width: 30%;
    padding: 10px;
}

#align_article_and_aside {
    display: inline-flex;
    gap: 5px;
}

table{
    background-color: greenyellow;
}

#cabecalho {
    top: 0;
    position: absolute;
    background-color: greenyellow;
}