body {
    background-color: rgb(253, 251, 251);
    font-family: monospace;
    font-size: 12px;
    line-height: 20px;
}

img {
    border: solid 2px black;
    border-radius: 10%;
    top: 50px;
    display: block;
}

h1 {
    text-align: center;
    color: #001;
}

#ajust{
    height: 250px;
    width: 170px;
}


 .lado_esquerdo, .lado_direito{
    width: 30%;
    padding: 10px;
}

#align_article_and_aside {
    display: inline-flex;
    gap: 5px;
}

table{
    background-color: greenyellow;
}

#cabecalho {
    top: 0;
    background-color: greenyellow;
    margin: 10px;
    border: 1px;
    padding: auto;
}

#quem_sou_eu{
    background-color: yellow;
    padding: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

#align_article_and_aside{
    display: flex;
    flex-wrap: wrap;
}

#sobre_aprendizado{
    background-color: aqua;
    width: 700px;
}